<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>앱이 사용자의 위치를 받습니다.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>앱이 사용자의 위치를 받습니다.</string>
	<key>NMFClientId</key>
	<string>h3pgewkktq</string>
</dict>
</plist>
